* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.container {
    height: 60vh;
    width: 30vw;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    perspective: 1000px;
}

.box {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 100px;
    top: 50px;
    transform-style: preserve-3d;
    /* transition: 400ms; */
}

.card {
    padding: 100px 0;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .7);
    font-size: 32px;
    position: absolute;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

#front {
    transform: translateZ(125px);
}

#back {
    transform: translateZ(-125px);
}

#left {
    right: 125px;
    transform: rotateY(-90deg);
}

#right {
    left: 125px;
    transform: rotateY(90deg);
}

#top {
    bottom: 125px;
    transform: rotateX(90deg);
}

#bottom {
    top: 125px;
    transform: rotateX(-90deg);
}

input {
    display: none;
}

/* .box {
    transform: rotateX(-15deg) rotateY(30deg);
} */


svg {
    width: 100px;
    height: 100px;
}

.emoji {
    width: 100px;
    height: 100px;
    background-color: rgb(249, 193, 88);
    border-radius: 50%;
    position: relative;
}

.emoji .eyes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: absolute;
    top: 20px;
    left: 15px;
}

.eye {
    width: 30px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eyeInner {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(45, 24, 11);
    position: absolute;
}